In [1]:
from algbench import read_as_pandas

In [4]:
def read_row(row):
    return {
        "n_samples": len(row["result"]["samples"]) if row["result"]["samples"] else None,
        "solve_time": row["result"]["solve_time"],
        "algorithm": row["parameters"]["args"]["alg_params"]["algorithm"],
        "time_limit": row["parameters"]["args"]["alg_params"]["time_limit"],
        "instance": row["parameters"]["args"]["instance_name"]
}
t = read_as_pandas("yasa_1h", read_row)

In [5]:
print(t)

   n_samples   solve_time algorithm  time_limit                       instance
0        NaN  3602.134069      yasa        3600                Automotive02_V1
1      560.0  3603.737942      yasa        3600                 linux_2_6_28_6
2        NaN  3602.717029      yasa        3600                Automotive02_V4
3      563.0  3605.092808      yasa        3600                 linux_2_6_33_3
4     1412.0  3603.480285      yasa        3600                   Automotive01
5        NaN  3602.634793      yasa        3600                Automotive02_V3
6        NaN  3602.355249      yasa        3600                Automotive02_V2
7     4459.0  3647.791451      yasa        3600  financial-services-2018-04-23

In [4]:
def read_row_samplns(row):
    return {
        "lower_bound": row["result"]["lower_bound"],
        "upper_bound": row["result"]["upper_bound"],
        "time_used_by_yasa": row["result"]["time_used_by_yasa"],
        "timelimit_for_samplns": row["result"]["timelimit_for_samplns"],
        "runtime": row["runtime"],
        "algorithm": "SampLNS + YASA",
        "time_limit": row["parameters"]["args"]["time_limit"],
        "instance": row["parameters"]["args"]["instance_name"]
}
t = read_as_pandas("samplns_1h", read_row_samplns)

In [6]:
print(t[["lower_bound", "upper_bound", "instance"]])

    lower_bound  upper_bound                       instance
0           267          520                 linux_2_6_28_6
1           330          510                 linux_2_6_28_6
2          4330         4353  financial-services-2018-04-23
3           291          483                 linux_2_6_33_3
4           333          486                 linux_2_6_33_3
5          4328         4353  financial-services-2018-04-23
6           309          483                 linux_2_6_33_3
7           338          484                 linux_2_6_33_3
8          4336         4354  financial-services-2018-04-23
9          4324         4353  financial-services-2018-04-23
10          262          483                 linux_2_6_33_3
11         4322         4352  financial-services-2018-04-23
12          340          511                 linux_2_6_28_6
13          414          510                 linux_2_6_28_6
14          327          514                 linux_2_6_28_6
15          494          799                   Automotive01
16          460          800                   Automotive01
17          405          804                   Automotive01
18          396          805                   Automotive01
19          454          797                   Automotive01